<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.StockCompensationLogMapper">

    <insert id="insert" parameterType="com.sky.entity.StockCompensationLog" useGeneratedKeys="true" keyProperty="id">
        insert into stock_compensation_log
            (stock_items, status, create_time, update_time)
        values
            (#{stockItems}, #{status}, #{createTime}, #{updateTime})
    </insert>

    <update id="markDone">
        update stock_compensation_log
        set status = 1, update_time = now()
        where id = #{id} and status = 0
    </update>

</mapper>
